.root {
    /* -fx-background-color: #2f4f4f; */
    -fx-background-color: #bfbfbf;
    -fx-font-size: 12pt;
}

.label {
    -fx-text-fill: #e8e8e8;
}

.button {
    /* -fx-background-color: linear-gradient(#dc9656, #ab4642); */
    -fx-background-color: #ab4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;

}